# Importing Libraries

In [17]:
import seaborn as sns
import pandas as pd

# Loading Data set

In [ ]:
titanic = sns.load_dataset("titanic")

(891, 15)

# Checking key attributes of the data Frame

In [ ]:
print("shape: ",titanic.shape)
print("Columns Header: ",titanic.columns)
print("Rows Number: ",titanic.index)
print("Data Type of each coloumn : \n",titanic.dtypes)

#  Available buildin dataset in seaborn

In [ ]:
print(sns.get_dataset_names())

# Creating Data frame from a dictionary of series

In [ ]:

df3 = pd.DataFrame({
    "A": pd.Series([1, 2, 3], index=[100, 101, 102]),
    "B": pd.Series([4, 5, 6], index=[100, 101, 102])
})
print(df3)